    
    {% extends 'base.html' %}

    {block title% } contacto {% endblock %}

    

    <!-- Contenido Principal -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>ex-fabrica santa elena tiene como mision proporcianerle la mejor atencion </p>
          <br>
          <p><b>Teléfono:</b> 246 102 53 56 </p>
          <p><b>Horarios:</b> de lunes a viernes 11:00am a 5:00pm y domingos de buffet</p>
        </div>
      </div>
    </div>

    {% endblock %}
  